@font-face {
  font-family: "Montserrat";
  src: url(../ASSETS/fonts/Montserrat-VariableFont_wght.ttf);
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url(../ASSETS/fonts/Inter-VariableFont_opsz\wght.ttf);
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: #f6f7fb;
  --card: #ffffff;
  --muted: #dfe7e2;
  --accent1: #2b9cff;
  --accent2: #4aa6ff;
  --green: #dff3ea;
  --pill: #e7f2ff;
  --text: #1f2a44;
  --body: #f6f6f6;
  --blue10: #c8e2ff;
}
body {
  font-size: 15px;
  font-family: "inter", sans-serif;
  background-color: var(--body);
}
h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.1rem;
}
h3 {
  font-size: 1rem;
}
.container {
  width: 100%;
}
/*responsiveness*/
@media screen and (max-width: 460px) {
  body {
    padding: 2rem 1rem;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
    overflow-wrap: break-word;
    flex-wrap: wrap;
  }
  .search {
    background-color: #fffdfd;
    box-shadow: 0 10px 18px rgba(0, 0, 0, 0.1);
    padding: 0.7rem;
    border-radius: 1rem;
    margin-top: 1.5rem;
  }
  /*-------arrow--------*/
  .arrow {
    background-color: var(--blue10);
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    padding: 1rem;
  }
  /*-------card--------*/
  .card {
    background-color: var(--accent2);
    padding: 3rem 0;
    margin-top: 2rem;
    text-align: center;
    border-radius: 2rem;
    color: var(--card);
  }
  .card h3 {
    margin-top: 2rem;
    font-weight: 600;
  }

  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    left: 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: relative;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
    color: #333;
    flex: 1;
  }

  .icon img,
  .icon .btn {
    width: 24px;
    height: 24px;
  }

  .icon .btn {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 2rem;
  }
  .icon:nth-child(3) p {
    margin-top: 1.5rem;
  }
}
