* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
}
h1 {
  font-family: "Montserrat", sans-serif;
}
h3 {
  font-family: "inter", sans-serif;
}

@media screen and (max-width: 480px) {
}
