 @import url(variable.css);
 @import url(Pages/signUpandsignIn.css);
 @import url(Pages/allforgetpasswordforgetpassword.css);
 @import url(Components/header.css);
 @import url(Components/buttons.css);
 @import url(Pages/onboarding.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #f4f6f8;
  --card-bg: #ffffff;
  --primary: #a2aab8;
  --text-dark: #1f2937;
  --text-muted: #6b7280;
  --border-light: #e4f1ff;
  --alert-bg: #ede7d1;
  --alert-border: #fed7aa;
}

body {
  font-family: "Segoe UI", Arial, Helvetica, sans-serif, Roboto;
  background-color: var(--bg-color);
  color: var(--text-dark);
  line-height: 1.6;
}
.container {
  max-width: 480px;
  margin: 2rem auto;
  padding: 0 1rem;
}

.visa-card {
  background: var(--card-bg);
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.05);
  padding: 1.5rem;
}
.visa-card header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.75rem;
  margin-bottom: 0;
}

.visa-card header h1 {
  font-size: 1.65rem;
  font-weight: 700;
}

.icon {
  width: 90px;
  height: 60px;
}
.divider {
  border: none;
  height: 1px;
  background-color: var(--border-light);
  margin: 0 0 1.25rem;
}
.visa-info {
  margin-bottom: 1.25rem;
  background: var(--border-light);
  border-radius: 1rem;
  padding: 15px;
  box-shadow: 0 12px 20px rgba(32, 29, 29, 0.05);
}

.visa-location {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.visa-location h2 {
  font-size: 1rem;
  font-weight: 500;
}

.visa-meta p {
  font-size: 0.75rem;
  color: var(--text-muted);
}
.flag {
  width: 20px;
}
.alert {
  display: flex;
  gap: 0.75rem;
  background-color: var(--alert-bg);
  border-radius: 15px;
  padding: 0.75rem;
  margin: 1.25rem 0;
  font-size: 0.75rem;
}

.alert img {
  width: 18px;
  height: 18px;
  margin-top: 2px;
}

.timeline h2 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 700;
}
.timeline-item {
  border-left: 2px solid #4da3ff;
  padding-left: 1rem;
  margin-bottom: 1rem;
  position: relative;
}

.timeline-item::before {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--primary);
  border-radius: 50%;
  border: 2px solid #e5e7eb;
  position: absolute;
  left: -8px;
}
.timeline-item.completed::before {
  background-color: #4da3ff;
  border-color: #4da3ff;
}
.timeline-item.upcoming::before {
  background-color: var(--card-bg);
}
.timeline-item h3 {
  font-size: 0.95rem;
  font-weight: 600;
}

.timeline-date {
  font-size: 0.8rem;
  color: var(--primary);
  font-weight: 500;
}

.timeline-item p,
.timeline-item ul {
  font-size: 0.85rem;
  color: var(--text-muted);
  margin-top: 0.25rem;
}

.timeline-item ul {
  padding-left: 1rem;
}

.timeline-item li {
  margin-bottom: 0.25rem;
}
.item {
  background: var(--border-light);
  padding: 10px;
}
.reminder {
  background-color: var(--alert-bg);
  border: 1px solid var(--border-light);
  border-radius: 15px;
  padding: 0.5rem;
  margin-top: 1rem;
}

.reminder h3 {
  font-size: 0.95rem;
  margin-bottom: 0.75rem;
}

.reminder p {
  display: flex;
  gap: 0.5rem;
  font-size: 0.8rem;
  color: var(--text-muted);
  margin-bottom: 0.5rem;
}
.icon-rem {
  width: 10px;
}
.btn {
  width: 100%;
  padding: 0.6rem;
  border-radius: 10px;
  font-size: 0.8rem;
  margin-top: 0.5rem;
  border: none;
  cursor: pointer;
}
.btn.primary:hover {
  background-color: #4da3ff;
}
.btn.secondary:hover {
  background-color: #4da3ff;
}
.btn.primary {
  background: var(--bg-color);
  border: 1px solid #4da3ff;
}

.btn.secondary {
  background: var(--bg-color);
  border: 1px solid #4da3ff;
  margin-bottom: 0.5rem;
}

.bottom-nav {
  position: relative;
  bottom: 0;
  background: #fff;
  display: flex;
  justify-content: space-evenly;
  padding: 0.5rem 0.3rem;
  margin-top: 1rem;
  border-top: 1px solid var(--border-light);
}

.nav-item {
  font-size: 0.75rem;
}

.nav-item.active {
  color: var(--primary);
  font-weight: 700;
}
.bottom-nav img {
  width: 20px;
  height: 20px;
  filter: grayscale(100%) brightness(0.6);
}
