@font-face {
  font-family: "Inter";
  src: url(../ASSETS/fonts/Inter-VariableFont_opsz\wght.ttf);
  font-weight: 400;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --bg: #f6f7fb;
  --card: #ffffff;
  --muted: #dfe7e2;
  --accent1: #2b9cff;
  --accent2: #4aa6ff;
  --pill: #e7f2ff;
  --text: #1f2a44;
  --body: #f6f6f6;
  --grey10: #6b7280;
  --border: #736b6b;
}
body {
  font-size: 15px;
  font-family: "inter", sans-serif;
  background-color: var(--bg);
}
@media screen and (max-width: 460px) {
  body {
    padding: 2rem 1rem;
  }
  h1 {
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  h3 {
    font-size: 1rem;
  }
  .header {
    display: flex;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
  }
  .txt-cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--grey10);
    font-weight: 500;
    margin-top: 1rem;
  }
  .cont {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .check-box {
    border: 2px solid #4da3ff;
    padding: 0.9rem;
  }
  .blue {
    color: #4da3ff;
  }
  .alert {
    display: flex;
    align-items: start;
    border: 1px solid var(--border);
    padding: 2rem 2rem 3rem 0.5rem;
    box-shadow: 0 4px 10px 2px rgba(0, 0, 0, 0.25);
    margin-top: 2rem;
  }
  .footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    left: 0;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    position: relative;
  }

  .icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.75rem;
    color: #333;
    flex: 1;
  }

  .icon img,
  .icon .btn {
    width: 24px;
    height: 24px;
  }

  .icon .btn {
    position: absolute;
    top: -35px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #007bff;
    color: white;
    font-size: 1.5rem;
    border-radius: 50%;
    height: 65px;
    width: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    margin-bottom: 2rem;
  }
  .icon:nth-child(3) p {
    margin-top: 1.5rem;
  }
}
