/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* PAGE BACKGROUND */
body {
  font-family: "Inter", "Segoe UI", sans-serif;
  background: linear-gradient(to bottom, #f2f6fb, #e9eff7);
  color: #1f2937;
}

/* MAIN SECTION */
.subscription {
  max-width: 900px;
  margin: 80px auto;
  padding: 0;
}

/* TEXT HEADER */
.subscription-text {
  text-align: left;
  max-width: 720px;
  margin: 0;
  margin-bottom: 1.5rem;
}

.subscription-text h2 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 15px;
}

.subscription-text p {
  font-size: 16px;
  line-height: 1.6;
  color: #060606;
}

/* CARD */
.subsription-form {
  background: #ffffff;
  border-radius: 5px;
  padding: 32px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

/* CARD TITLE */
.subsription-form h4 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 600;
}

/* FORM ROW */
.form {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 30px;
}

.form span {
  font-size: 14px;
  color: #374151;
  white-space: nowrap;
}

.form select {
  flex: 1;
  padding: 12px 14px;
  border-radius: 8px;
  border: 2px solid #4da3ff;
  font-size: 14px;
  background-color: #fff;
  color: #66707f;
}

.form select:focus {
  outline: none;
  border-color: #4da3ff;
}

/* ADD COUNTRY BUTTON */
.subscription-form-button {
  background-color: #4da3ff;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 999px;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.subscription-form-button:hover {
  opacity: 0.9;
}

/* LINKS SECTION */
.links h4 {
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
}

.links > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #e5e7eb;
}

.links > div:last-child {
  border-bottom: none;
}

/* LEFT ICON + TEXT */
.links > div > div {
  flex: 1;
  font-size: 14px;
  color: #374151;
}

.links a {
  color: #4da3ff;
  text-decoration: none;
  font-weight: 500;
}

.links a:hover {
  text-decoration: underline;
}

.links span {
  margin: 0 4px;
}

/* Icon Style */
.global-icon {
  color: #323849;
  width: 1rem;
  height: 1rem;
  opacity: 70%;
}
.close-icon {
  color: #4da3ff;
  width: 1rem;
  height: 1rem;
}
.stroke {
  color: #4da3ff;
}

/* SAVE BUTTON */
.subsription-form > button {
  display: block;
  margin: 30px auto 0;
  /* background: linear-gradient(135deg, #4da3ff, #0ed3ff); */
  background-color: #4da3ff;
  color: white;
  border: none;
  padding: 14px 28px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.subsription-form > button:hover {
  opacity: 0.95;
}

/* RESPONSIVE */
@media (max-width: 768px) {
  .form {
    flex-direction: column;
    align-items: stretch;
  }
  .subscription-text {
    margin: 1.5rem;
  }

  .subscription-text h2 {
    font-size: 30px;
  }
}
