.first-body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skip a{
    float: right;
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 500;
    text-decoration: none;
    color: black;
}
.skip::after{
    content: "";
    display: block;
    clear: both;
}
.second-body{
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    background-image: url(/Frontend/ASSETS/Images/Rectangle\ 86\ \(1\).png);
    background-repeat: no-repeat;
    background-position: top left;
}
.second-body img{
    display: block;
    max-width: 80%;
}
.img-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.text1,.text2{
    text-align: center;
    margin-top: 2rem;
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
    font-weight: 600;
}
.text2{
    font-size: 2rem;
    font-weight: 700;
    margin: none;
}

.second-body button{
    width: 80%;
    align-self: center;
}

.fourth-body{
    background-image: none;
}

.fourth-button{
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}
