<nav>
  <ul>
    <li><a href="/admin/dashboard">Dashboard</a></li>
    <li><a href="/admin/visas">Manage Visas</a></li>
    <li><a href="/admin/visa-form">Add Visa Requirement</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
