.button-blue,.button-white{
    width: 100%;
    height: 6rem;
    border-radius: 2rem;
    border: none;
    background-color: #4DA3FF;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
    box-shadow: -0.1px 0.1px 5px  rgb(121, 111, 111);
}
.button-white{
    background-color: white;
    color: black;
}