@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html{
    font-size: 66.6%;
}

body{
    padding: 1rem;
}
.sign--form-text{
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 700;
    margin-bottom: 3rem;
}

input {
  width: 100%;
  border: 1px solid #818181;
  border-radius: 1.6rem;
  font-size: 1.6rem;
  padding: 1rem;
  font-family: "Inter", sans-serif;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

input:active{
    border: 1px solid #4DA3FF;
}


label{
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}

.line{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 47% 6% 47%;
    justify-content: center;
    align-items: center;
}
.line--one,.line--two{
    width: 100%;
    height: 0.01rem;
    background-color: #818181;
}
.line--text{
    text-align: center;
    font-size: 1.2rem;
    font-family: "Inter", sans-serif;
    color: #818181;
    font-weight: 700;
}
.others{
    margin-top: 2rem;
    color: black;
}
.others button:first-child{
    margin-bottom: 2rem;
}

.button-withText{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.others-text,.forget a{
    margin: 2rem 0rem 2rem 0rem;
    text-align: center;
    font-family: "Inter", sans-serif;
    font-size: 1.2rem;
    font-weight: 500;
}
.others-text a,.forget a{
    text-decoration: none;
    color: #4DA3FF;
}
.special{
    display: flex;
/*     text-align: center; */
    justify-content: space-between;
    align-items: center;
}
.remember{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    text-align: center;
}

.forget a{
    margin: none;
}

.checkbox{
    height: 100%;
    width: 100%;
    border-radius: 0.2rem;
}